# DS-SF-32 | Homework 02: The `pandas` Library

In this homework, we will be exploring the `Ozone` dataset using `pandas`.

> ## Question 1.  Import `pandas` (as `pd`).

In [1]:
import os
import pandas as pd

# TODO

pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [6]:
df = pd.read_csv(os.path.join('..', 'hw_2', 'ozone.csv'))

> ## Question 2.  Display a few lines of the dataset to the screen.

In [16]:
# TODO
df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

> ## Question 3.  How many observations (i.e., rows) are in this dataset?

In [25]:
# Check shape, then take the first returned result which is the number of rows (153)
df.shape[0]

153

> ## Question 4.  Print the name of each column in the dataset, one name per line.

In [33]:
for columnName in list(df):
    print columnName

Ozone
Solar.R
Wind
Temp
Month
Day

> ## Question 5.  How many variables (i.e., columns) are in this dataset?

In [34]:
#there are 6 - the second returned value in the Shape method
df.shape[1]

6

> ## Question 6.  Extract the first 2 rows of the dataset and print them to the console.  What does the output look like?

In [35]:
df.head(n=2)
#The output is a 2x6 Dataframe table

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

> ## Question 7.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [36]:
df.tail(n=2)
#The output is a 2x6 Dataframe table from the end of the data set (index 151, 152)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

> ## Question 8.  What is the value of Ozone in the 47th row?

In [57]:
df.loc[46]["Ozone"]
# it is 21

21.0

> ## Question 9.  How many missing values are in the `Ozone` column of this dataset?

In [72]:
df.loc[:]["Ozone"].isnull().sum()
#select the Ozone column, then convert all NANs to TRUE, then count the number of TRUEs
#There are 37

37

> ## Question 10.  What is the mean of the `Ozone` column in this dataset?  Exclude missing values (coded as `NaN`) from this calculation.

In [70]:
df["Ozone"].mean()
#The mean of the Ozone column is 42.13

42.12931034482759

> ## Question 11.  Extract the subset of rows of the dataset where `Ozone` values are above 31 and `Temp` values are above 90.

In [78]:
df2 = df[(df["Ozone"] > 31) & (df["Temp"] > 90)]
df2
# TODO

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30
122   85.0    188.0   6.3    94      8   31
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4

> ## Question 12.  What is the mean of `Solar.R` in this subset?

In [82]:
df2["Solar.R"].mean()
# It's 212.8

212.8

> ## Question 13.  What is the mean of `Temp` when `Month` is equal to 6?

In [90]:
df3 = df[df["Month"] == 6]
df3["Temp"].mean()
#It's 79.1

79.1

> ## Question 14.  What was `Ozone`'s maximum in the month of May?

In [97]:
df4 = df[df["Month"] == 5]
df4["Ozone"].max()
#It's 115

115.0