## Assignment

### Part I

#### Clean your data

+ Read in temp_data.txt
    + It won't be easy! You'll need to find a way to clean the data
    + Try opening the file in a text editor first
+ Read in temp_X.csv
+ Merge the X variable from temp_X with the data from temp_data
+ Note that we discussed this in class, but it's something you'll just need to practice on your own. 
+ You will struggle with this and it's ok
+ Check out the documentation for read_csv() in the pandas package


### Part II

#### Run a linear regression
+ Using X to predict temperature 
+ Interpret your coefficients!
+ What is one potential use for this linear regression equation? 
+ What does this linear regression mean? 
+ Is this a good model? Why or why not?

In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model, metrics

In [2]:
tempX = pd.read_csv('./temp_X.csv')

columns = ['Station ID','Series Number','Date','Temperature (C)','Uncertainty (C)', 'Observations', 'Time of Observation']
tempData = pd.DataFrame(columns=columns)
#df2 = pd.DataFrame([[1,1,1,1,1,1,1]], columns=columns)
#df.append(df2)

tempData

Empty DataFrame
Columns: [Station ID, Series Number, Date, Temperature (C), Uncertainty (C), Observations, Time of Observation]
Index: []

In [3]:
f = open('temp_data.txt','r')
#data = f.read()
for line in f:
    if line[0] != '%':
        this=line.split()
        this[0] = int(this[0])
        this[1] = int(this[1])
        this[2] = float(this[2])
        this[3] = float(this[3])
        this[4] = float(this[4])
        this[5] = int(this[5])
        this[6] = int(this[6])
        dfx = pd.DataFrame([this],columns=columns)
        tempData = tempData.append(dfx,ignore_index=True)
f.close()

In [4]:
columns[0]='Station_ID'
columns[1]='Series_Number'

In [5]:
tempData.columns=columns
tempData.tail()

,Station_ID,Series_Number,Date,Temperature (C),Uncertainty (C),Observations,Time of Observation
141632,129867.0,1.0,2011.208,12.885,0.0499,31.0,24.0
141633,129867.0,1.0,2011.292,17.630,0.0507,30.0,24.0
141634,129867.0,1.0,2011.375,20.341,0.0499,31.0,24.0
141635,129867.0,1.0,2011.458,27.852,0.0507,30.0,24.0
141636,129867.0,1.0,2011.542,30.609,0.0499,31.0,24.0

In [6]:
tempData['Station_ID']=tempData['Station_ID'].astype(int)
tempData['Series_Number']=tempData['Series_Number'].astype(int)
tempData['Observations']=tempData['Observations'].astype(int)
tempData.tail()

,Station_ID,Series_Number,Date,Temperature (C),Uncertainty (C),Observations,Time of Observation
141632,129867,1,2011.208,12.885,0.0499,31,24.0
141633,129867,1,2011.292,17.630,0.0507,30,24.0
141634,129867,1,2011.375,20.341,0.0499,31,24.0
141635,129867,1,2011.458,27.852,0.0507,30,24.0
141636,129867,1,2011.542,30.609,0.0499,31,24.0

In [7]:
tempX.tail()

        Unnamed: 0  Station_ID  Series_Number      Date        X
141632      141632      129867              1  2011.208  55.1930
141633      141633      129867              1  2011.292  63.7340
141634      141634      129867              1  2011.375  68.6138
141635      141635      129867              1  2011.458  82.1336
141636      141636      129867              1  2011.542  87.0962

In [8]:

tempX['Key']=tempX['Date'].round(3).astype(str)
tempData['Key']=tempData['Date'].round(3).astype(str)

In [9]:
merged = pd.merge(tempData, tempX, how = 'left', on=['Station_ID','Series_Number','Key'])
merged.tail()


#s1 = pd.merge(df1, df2, how='left', on=['Year', 'Week', 'Colour'])

,Station_ID,Series_Number,Date_x,Temperature (C),Uncertainty (C),Observations,Time of Observation,Key,Unnamed: 0,Date_y,X
141632,129867,1,2011.208,12.885,0.0499,31,24.0,2011.208,141632,2011.208,55.1930
141633,129867,1,2011.292,17.630,0.0507,30,24.0,2011.292,141633,2011.292,63.7340
141634,129867,1,2011.375,20.341,0.0499,31,24.0,2011.375,141634,2011.375,68.6138
141635,129867,1,2011.458,27.852,0.0507,30,24.0,2011.458,141635,2011.458,82.1336
141636,129867,1,2011.542,30.609,0.0499,31,24.0,2011.542,141636,2011.542,87.0962

In [10]:
# this is the standard import if you're using "formula notation" (similar to R)
import statsmodels.formula.api as smf

X = merged[['X']]
y = merged['Temperature (C)']

# create a fitted model in one line
#formula notiation is the equivalent to writting out our models such that 'outcome = predictor'
#with the follwing syntax formula = 'outcome ~ predictor1 + predictor2 ... predictorN'
lm = smf.ols(formula='y ~ X', data=merged).fit()
#print the full summary
print lm.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 5.685e+32
Date:                Tue, 07 Mar 2017   Prob (F-statistic):               0.00
Time:                        18:13:52   Log-Likelihood:             3.5965e+06
No. Observations:              141637   AIC:                        -7.193e+06
Df Residuals:                  141635   BIC:                        -7.193e+06
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept    -17.7778   6.19e-15  -2.87e+15      0.000       -17.778   -17.778
X              0.5556   2.33e-17   2.38e+16      0.000         0.556     0.556
==============================================================================
Omnibus:                   492826.607   Durbin-Watson:                   1.128
Prob(Omnibus):                  0.000   Jarque-Bera (JB):     126563974204.121
Skew:                          67.372   Prob(JB):                         0.00
Kurtosis:                    4632.013   Cond. No.                         273.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [12]:
import seaborn as sns
sns.set_style("darkgrid")

In [ ]:
sns.lmplot(X, y, merged)
merged[[X,y]].corr()

In [ ]:
#1) Interpret your coefficients!
#Intercept = -17.777
#Slope = 0.5556
#R = 1
#As X increases, the temperature increases by .5556 Celsius per X, starting at -17 degrees Celsius when X = 0.
#X can basically be interpreted as another measure of temperature on a different scale (not Celsisus)
#Since R=1, the relationship is close to perfectly modeled by the coefficients.
#Upon closer insepction X is farenheit

#2) What is one potential use for this linear regression equation?
#It can be used to predict temperatures at X values that are more extreme than the data.  However, since X is
#farenheit, it is not very useful.

#3) What does this linear regression mean?
#A farenheit measure is very closely correlated to a celsius measure of the same underlying temperature.

#4) Is this a good model? Why or why not?
#It is not a very useful model.  We are correlating between two measures of temperature...